@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}



.nav-link, a{
    transition: 500ms ease all;
    margin: 0px 10px;
    
    /* font-weight: bold !important; */
}

.nav-link:hover{
    background:gold !important;    
    color: #0B0F3F !important;
    border-radius: 10px !important;
    transition: 500ms ease all;
    /* font-weight: bold !important; */
}

.nav-link.active{
    background:gold !important;    
    color: #0B0F3F !important;
    border-radius: 10px !important;
    transition: 500ms ease all;
    /* font-weight: bold !important; */
}

/* .nav-link:hover, a{
    padding: 20px 20px;
} */

.nav-icon{
    font-size: 1.4rem !important;
}

.text-gold{
    color: gold !important;
}

.bg-app{
    background: #0B0F3F !important;
}

.bg-gold{
    background: gold !important;
}

.text-app{
    color: #0B0F3F !important;
}

.col-heading{
    border-radius: 10px !important;
}

.big-heading{
    font-size: 5rem;
}

.btn-app{
    color: gold !important;
    border: 2px solid gold !important
}

.btn-app:hover{
    color: white !important;
    background-color: gold !important;
}

.btn-primary{
    background: #0B0F3F !important;
    border: 1px solid #0B0F3F !important;
}

.btn-primary:hover{
    color: #0B0F3F !important;
    background-color: gold !important;
    border: 1px solid gold !important;
}

.btn-outline-primary{
    background: white !important;
    color: #0B0F3F !important;
    border: 1px solid #0B0F3F !important;
}

.btn-outline-primary:hover{
    background: #0B0F3F !important;
    color: white !important;
}

.box{
    border-left: 2px solid #0B0F3F !important;
    border-right: 2px solid #0B0F3F !important;
    border-top: 2px solid #0B0F3F !important;
    border-bottom: 8px solid #0B0F3F !important;
    border-radius: 10px !important;
    background: white !important;
}

.image-container{
    height: 550px !important;
}

.img-sm{
    height: 180px !important;
    width: auto !important;
}

.side-cols{
    height: 800px !important;
    overflow-y: scroll;
}

.main-logo{
    height: 50% !important;
    width: 60% !important
}

.hoverable{
    cursor: pointer;
}

.hoverable:hover{
    border: 3px solid #0B0F3F !important;
    background: #F5F5F5 !important;
    transition: 50ms ease all;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0B0F3F;
    border-radius: 10px;
  }

